### [{"cmd":"nfc","maxNfc":10000,"interactionBgm":"dida.ogg","nfc":[{"mode":"and","nfc":["字母卡o","字母卡e","字母卡a"],"output":{"sound": {"sound":"dooi.ogg","var":"flag1-win.ogg"} }},{"mode": "no","output": {"sound": {"sound": "di.ogg","var":"flag1-failure.ogg"}}}]}]
{"sound": "music.ogg","output": [{"LED": [{"start": "0'5","mode": "sLightOn","light": "a","option": {"colors": "FFFFFF"}}]}]}
