a.ogg
[{"cmd":"button","button":{"D":{"backline":"-1","sound":{"sound":"Hudong1.ogg","break":true},"LED":{"mode":"reducefrequencyFlashing","light":"ab","option":{"colors":"FF0000"}}},"E":{"sound":{"sound":"Hudong1.ogg","break":true},"LED":{"mode":"breath","light":"ab","option":{"colors":"FF0000"}}},"no":{"sound":{"sound":"Hudong2.ogg","break":true},"LED":{"mode":"flickerfrequencyConstant","light":"ab","option":{"colors":"FF0000"}}}}}]
Hudong1.ogg 1.ogg
33333
