[{"cmd":"button","button":{"D":{"sound":{"sound":"Hudong1.ogg","break":true},"LED":{"mode":"reducefrequencyFlashing","light":"ab","option":{"colors":"FF0000"}}},"E":{"sound":{"sound":"Hudong1.ogg","break":true},"LED":{"mode":"breath","light":"ab","option":{"colors":"FF0000"}}},"no":{"sound":{"sound":"Hudong2.ogg","break":true},"LED":{"mode":"flickerfrequencyConstant","light":"ab","option":{"colors":"FF0000"}}}}}]
